
/* This is the main stylesheet for the site
     <==||>>>>>>>>>>>>>>>>>>>
*/


#banner {
    font-family: monospace;
    color: lightslategray;
    margin: 0;
    text-align: center;
    background-color: 00ff00;
    font: bold;
    /*text-decoration: underline;*/
    border-style: solid;
    border-width: 5;
}

#top {
    position: relative;
}

#topmenu {
    position: relative;
    margin: 0;
    background-color: lightslategray;
    padding-bottom: 5;
    /*width: 100;*/
    margin-top: 0;
}

#content {
    margin: 5;
}

.item {
    position: relative;
    overflow: hidden;
    padding: 3;
    padding-left: 4;
    padding-right: 4;
    border-left: 2px solid lime;
    border-right: 2px solid lime;
    margin-left: -5;
    color: ffffff;
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    background: lightgray;
    color: white;
}

p {
    margin: 5;
}

li {
    display: inline;
}