
/* This is the main stylesheet for the site
     <==||>>>>>>>>>>>>>>>>>>>
*/


#banner {
    font-family: monospace;
    color: white;
    margin: 0;
    padding: 10;
    text-align: center;
    background-color: #aa00ff;
    font: bold;
    /*text-decoration: underline;*/
    border: 10px solid #aa00ff;
    margin-bottom: 3;
}

#top {
    position: relative;
}

#topmenu {
    position: relative;
    margin: 5;
    background-color: lightslategray;
    padding-bottom: 5;
    padding-top: 5;
    /*width: 100;*/
    margin-top: 0;
}

#content {
    margin: 5;
}

#sidebar {
    float: left;
    margin-right: 10;
}

#viewport {
    position: sticky;
    margin-left: 5;
    padding-left: 5;
}

.newproject {
    display: block;
    color: slategray;
    padding: 2;
    border: 1px solid darkgray;
    font-size: small;
}

.newproject:hover {
    background-color: darkgray;
    color: white;
    cursor: pointer;
}

.item {
    position: static;
    overflow: hidden;
    padding: 0;
    padding-left: 4;
    padding-right: 4;
    margin-left: -5;
    margin-bottom: 5;
    margin-top: 5;
    border-left: 2px solid silver;
    border-right: 2px solid silver;
    /*border: 2px solid silver;*/
    color: ffffff;
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    background: lightgray;
    color: white;
}

p {
    margin: 5;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    color: white;
    display: block inline;
}

li a:hover {
    color: lightgray;
}